---
import RecoveryCreamBtn from "../components/products/RecoveryCreamBtn.astro";
import Layout from "../layouts/Layout.astro";
import RecoveryCream from "../assets/images/recovery-cream.png";
import RecoveryCream2 from "../assets/images/recovery-cream2.jpg";
import RecoveryCream3 from "../assets/images/recovery-cream-3.png";
import Icon1 from "../assets/images/icon1.png";
import Icon2 from "../assets/images/icon2.png";
import NourishImg from "../assets/images/nourish-your-skin.jpg";
import HarmonyImg from "../assets/images/with-timeless-harmony.jpg";
import { Image } from "astro:assets";
---

<Layout title="ByMudras - Organic & natural products">
  <!-- Main banner -->
  <div class="banner">
    <div
      class="ml-[150px] sm:ml-[300px] md:ml-[350px] lg:ml-[450px] xl:ml-[600px] md:duration-[800ms] md:taos:translate-x-[-200px]"
    >
      <h1 class="text-4xl md:text-6xl xl:text-8xl">
        Soothe <br /> your body <br /> and soul
      </h1>
      <RecoveryCreamBtn className="uppercase hidden md:block text-xl"
        >Get recovery cream</RecoveryCreamBtn
      >
    </div>
    <RecoveryCreamBtn className="mt-10 mx-4 uppercase md:hidden"
      >Get recovery cream</RecoveryCreamBtn
    >
  </div>
  <div class="relative flex justify-center w-full top-[-25px]">
    <a class="bg-black border-4 border-white rounded-full">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="48"
        height="48"
        ><title>chevron-down</title><path
          fill="white"
          d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
        ></path></svg
      >
    </a>
  </div>
  <!-- Ends main banner -->

  <section class="mt-10">
    <div class="flex justify-center md:duration-[800ms] md:taos:translate-y-[200px]">
      <h1 class="uppercase text-center text-5xl max-w-screen-md">
        <strong>Recovery cream</strong><br />
        Harnessing Nature's Strength + Enhanced with 8,000 MG CBD
      </h1>
    </div>
    <div class="md:duration-[800ms] md:taos:translate-y-[200px]">
      <RecoveryCreamBtn className="uppercase block mx-auto mt-10"
        >Get recovery cream</RecoveryCreamBtn
      >
    </div>

    <Image
      src={RecoveryCream}
      alt="Recovery Cream"
      class="block mx-auto mt-10 md:duration-[800ms] md:taos:translate-y-[200px]"
    />

    <div class="grid md:grid-cols-2 gap-5 container mx-auto">
      <div class="md:duration-[800ms] md:taos:translate-x-[-200px]">
        <Image src={Icon1} alt="Icon 1" class="block mx-auto mt-10" />
        <hr class="border-4 w-48 border-black mx-auto my-5" />
        <p class="text-center">
          Experience natural relief with Mudras' Recovery Cream. Enhanced with
          8,000 MG CBD, is designed to calm, restore, and refresh your skin.
        </p>
      </div>
      <div class="md:duration-[800ms] md:taos:translate-x-[200px]"> 
        <Image src={Icon2} alt="Icon 1" class="block mx-auto mt-10" />
        <hr class="border-4 w-48 border-black mx-auto my-5" />
        <p class="text-center">
          This potent blend provides deep nourishment and promotes overall
          well-being, offering a soothing touch that helps you bounce back
          stronger.
        </p>
      </div>
    </div>
  </section>

  <section class="mt-20 bg-[#f1f1f1]">
    <div class="container mx-auto">
      <div class="grid md:grid-cols-2">
        <div>
          <h1 class="uppercase text-center text-5xl font-bold pt-10">
            Reawaken your body
          </h1>
          <p class="p-5">
            Mudras' Recovery Cream revitalize your body by deeply nourishing the
            skin, helping to alleviate tension and restore vitality.
            <br /><br />
            With its potent natural ingredients, this cream delivers a soothing effect
            that leaves your body feeling ready to take on the day.
            <br /><br />
            Wheter you're recovering from a workout or simply seeking daily nourishment,
            Mudras' Recovery Cream is your go-to solution.
          </p>
        </div>
        <div>
          <Image
            src={RecoveryCream2}
            alt="Recovery Cream"
            class="block mx-auto md:duration-[800ms] md:taos:translate-y-[200px]"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="mt-20 container mx-auto">
    <h1 class="uppercase text-center text-5xl font-bold">Formulated to</h1>
    <div class="grid md:grid-cols-2 md:duration-[800ms] md:taos:translate-x-[-200px]">
      <div>
        <Image src={NourishImg} alt="" class="block mx-auto md:mr-0 mt-10" />
      </div>
      <div class="flex items-center w-full">
        <div class="bg-[#f1f1f1] w-full p-14">
          <h2 class="font-bold uppercase text-3xl">Nourish <br /> your skin</h2>
          <hr class="border-4 w-32 border-black my-5" />
          <p class="text-xl">
            Feel refreshed, replenished, and revitalized with our mix blend of
            natural ingredients.
          </p>
        </div>
      </div>
    </div>
    <div class="grid md:grid-cols-2 md:duration-[800ms] md:taos:translate-x-[200px]">
      <div class="md:order-2">
        <Image src={HarmonyImg} alt="" class="block mx-auto md:ml-0 mt-10" />
      </div>
      <div class="flex items-center w-full md:order-1">
        <div class="bg-[#f1f1f1] w-full p-14">
          <h2 class="font-bold uppercase text-3xl md:text-right">
            With <br /> timeless <br /> harmony
          </h2>
          <hr class="border-4 w-32 border-black my-5 md:ml-auto" />
          <p class="text-xl md:text-right">
            Experience the peace and serenity that Mudras' ancestral wisdom has
            crafted carefully for you.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-20">
    <div class="flex justify-center">
      <h1 class="uppercase text-center md:text-5xl font-bold max-w-screen-md">
        Immerse yourself in the power of natural relief
      </h1>
    </div>
    <Image
      src={RecoveryCream3}
      alt="Recovery Cream"
      class="block mx-auto mt-10"
    />
    <RecoveryCreamBtn className="uppercase block mx-auto mt-10"
      >Get recovery cream</RecoveryCreamBtn
    >
  </section>
  <section class="mt-20 bg-[#212121] text-white p-5 md:p-20">
    <h1 class="uppercase text-center md:text-5xl font-bold">
      METICULOUSLY <br />
      CRAFTED SOLUTIONS <br />
      FOR YOU
    </h1>
    <p class="mt-10 xl:text-center">
      Mudras combines ancient wisdom with modern wellness. Our products draw
      inspiration from time-honored recipes, enhanced by contemporary
      innovations. Experience these meticulously crafted solutions and let them
      enrich your well-being, infusing your daily routine with a touch of
      timeless harmony.
    </p>
  </section>
</Layout>

<style>
  .banner {
    background-image: url("../assets/images/banner-img.png");
    background-size: cover;
    background-position: 40% top;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 1000px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: 1300px) {
    .banner div {
      margin-left: 600px;
    }
  }
  @media (min-width: 1700px) {
    .banner div {
      margin-left: 800px;
    }
  }
  @media (min-width: 2100px) {
    .banner div {
      margin-left: 1000px;
    }
  }
</style>
